#food1{
    background-color: beige;
}
.Amala{
    color: green;
}

#food2{
    background-color: gold;
}
.Jollof{
    color: red;
}
#img{
    height: auto;
    width: 500px;
}

#food3{
    background-color: beige;
}
.thai{
    color: teal;
}
#img2{
    height: auto;
    width: 500px;
}